
/* src/app.css */
@font-face {
    font-family: 'Nexa';
    src: url('/fonts/Nexa Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'inglobal';
    src: url('/fonts/inglobalb.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('/fonts/KanitCyrillic.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

input[type="text"],
input[type="date"], 
input[type="number"] {
  height: 32px;
  width: min(80vw, 200px);
  border-radius: 6px;
  padding: 0 8px;
  font-family: var(--main-font-cyrillic);
}

:root {
    --main-font-cyrillic: 'inglobal', sans-serif;
    --main-font-latin: 'inglobal', sans-serif;
  }
  
  #app[lang="ru"] {
    --main-font: var(--main-font-cyrillic);
  }
  
  #app[lang="en"] {
    --main-font: var(--main-font-latin);
  }
  
  
  
body {
    font-family: var(--main-font-latin);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #161218;
    color: #ebb2ff; 
}
    
.my-button {
    font-family: var(--main-font-latin);
    width: 200px;
    height: 50px;
    background-color: #3d0056;
    border-radius: 50px;
    color: #d993f5;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.my-button:hover {
    background-color: #4f0a6c;
}

.center {
    position: absolute; /* Позиционируем абсолютно */
    top: 50%; /* Размещаем по центру по вертикали */
    left: 50%; /* Располагаем в центре по горизонтали */
    transform: translate(
      -50%,
      -50%
    ); /* Центрируем как по вертикали, так и по горизонтали */
  }

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.primary {
    background-color: var(--md-sys-color-primary);
}

.on-primary {
    color: var(--md-sys-color-on-primary);
}

.primary-container {
    background-color: var(--md-sys-color-primary-container);
}

.on-primary-container {
    color: var(--md-sys-color-on-primary-container);
}

.secondary {
    background-color: var(--md-sys-color-secondary);
}

.on-secondary {
    color: var(--md-sys-color-on-secondary);
}

.secondary-container {
    background-color: var(--md-sys-color-secondary-container);
}

.on-secondary-container {
    color: var(--md-sys-color-on-secondary-container);
}

.tertiary {
    background-color: var(--md-sys-color-tertiary);
}

.on-tertiary {
    color: var(--md-sys-color-on-tertiary);
}

.tertiary-container {
    background-color: var(--md-sys-color-tertiary-container);
}

.on-tertiary-container {
    color: var(--md-sys-color-on-tertiary-container);
}

.surface {
    background-color: var(--md-sys-color-surface);
}

.on-surface {
    color: var(--md-sys-color-on-surface);
}

.on-surface-variant {
    color: var(--md-sys-color-on-surface-variant);
}

.surface-container {
    background-color: var(--md-sys-color-surface-container);
}

.spacer {
    flex: 1;
}

.error {
    background-color: var(--md-sys-color-error);
}

.error-container {
    background-color: var(--md-sys-color-on-error-container);
}

.on-error-container {
    color: var(--md-sys-color-on-error-container);
}

.on-error {
    color: var(--md-sys-color-on-error);
}

.dark {
    --md-sys-color-primary: rgb(235 178 255);
    --md-sys-color-surface-tint: rgb(235 178 255);
    --md-sys-color-on-primary: rgb(79 10 108);
    --md-sys-color-primary-container: rgb(61 0 86);
    --md-sys-color-on-primary-container: rgb(217 147 245);
    --md-sys-color-secondary: rgb(236 177 255);
    --md-sys-color-on-secondary: rgb(82 0 113);
    --md-sys-color-secondary-container: rgb(162 82 194);
    --md-sys-color-on-secondary-container: rgb(255 255 255);
    --md-sys-color-tertiary: rgb(235 178 255);
    --md-sys-color-on-tertiary: rgb(77 18 102);
    --md-sys-color-tertiary-container: rgb(102 45 127);
    --md-sys-color-on-tertiary-container: rgb(247 213 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(22 18 24);
    --md-sys-color-on-background: rgb(234 223 232);
    --md-sys-color-surface: rgb(22 18 24);
    --md-sys-color-on-surface: rgb(234 223 232);
    --md-sys-color-surface-variant: rgb(77 67 79);
    --md-sys-color-on-surface-variant: rgb(208 194 209);
    --md-sys-color-outline: rgb(153 141 154);
    --md-sys-color-outline-variant: rgb(77 67 79);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(234 223 232);
    --md-sys-color-inverse-on-surface: rgb(52 47 53);
    --md-sys-color-inverse-primary: rgb(131 67 159);
    --md-sys-color-primary-fixed: rgb(248 216 255);
    --md-sys-color-on-primary-fixed: rgb(50 0 71);
    --md-sys-color-primary-fixed-dim: rgb(235 178 255);
    --md-sys-color-on-primary-fixed-variant: rgb(105 41 133);
    --md-sys-color-secondary-fixed: rgb(248 216 255);
    --md-sys-color-on-secondary-fixed: rgb(50 0 70);
    --md-sys-color-secondary-fixed-dim: rgb(236 177 255);
    --md-sys-color-on-secondary-fixed-variant: rgb(111 29 143);
    --md-sys-color-tertiary-fixed: rgb(248 216 255);
    --md-sys-color-on-tertiary-fixed: rgb(50 0 71);
    --md-sys-color-tertiary-fixed-dim: rgb(235 178 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(102 45 127);
    --md-sys-color-surface-dim: rgb(22 18 24);
    --md-sys-color-surface-bright: rgb(61 55 62);
    --md-sys-color-surface-container-lowest: rgb(17 13 18);
    --md-sys-color-surface-container-low: rgb(31 26 32);
    --md-sys-color-surface-container: rgb(35 30 36);
    --md-sys-color-surface-container-high: rgb(46 40 47);
    --md-sys-color-surface-container-highest: rgb(57 51 57);
  }